// Breakpoints
$device-sm: 576px;
$device-md: 768px;
$device-lg: 992px;
$device-xlg: 1200px;
$device-xxlg: 1400px;

$widths: (
    "m": $device-md, 
    "l": $device-lg, 
    "xl": $device-xlg,
    "xxl": $device-xxlg
);

// colors
$dark: #373737;
$white: #fefefe;
$blue: #009ddcff;
$orange: #f55d3eff;
$green: #0b6e4fff;
$yellow: #f1d302ff;
$gray: #383838dc;
$gray-75: #2a2d34bf;
$gray-60: #2a2d3499;
$gray-50: #2a2d3480;
$gray-25: #2a2d3440;
$gray-10: #2a2d341a;
$gray-5: #2a2d340d;

$primary: #009ddcff;

$colors: (
    "dark": #232323,
    "white": #fefefe,
    "blue": #009ddcff,
    "orange": #f55d3eff,
    "green": #0b6e4fff,
    "yellow": #f1d302ff,
    "gray-75": #2a2d34bf,
    "gray-50": #2a2d3480,
    "gray-25": #2a2d3440,
    "gray-10": #2a2d341a,
    "gray": #383838dc,
    "gray-60": #2a2d3499,
    "gray-5": #2a2d340d
);

$sides:("top", "left", "rigth", "bottom");