.article{
    padding: 0 1rem;
    padding: 3rem 1rem;
    .article_content{
        padding: 1rem 0;
        ul{
            padding: 1rem;
            li{
                margin: .5rem 0;
                line-height: 1.6;
            }
        }
        p{padding: 1rem 0;}
        figure{
            border: 1px solid $gray-25;
            background-color: $gray-5;
            padding-top: 0;
            margin: 1rem 0;
            img{margin: 0;}
            figcaption{
                padding: .5rem;
                text-align: center;
                color: $gray-50;
                font-weight: 400;
            }
        }
        img{margin: 1rem 0;}
    }
}