form{
    label{display: block;}
    input, textarea{
        width: 100%;
        border: 1px solid $gray-25;
        border-radius: 3px;
    }
    .input-group{
        display: flex;
        input{
            border-radius: 3px 0px 0px 3px;
        }
        label{
            padding: .5rem;
            border-radius: 0 3px 3px 0;
            background-color: $gray-10;
            border: 1px solid $gray-25;
        }
    }
}