table, .table{
    width: 100%;
    thead{
        border-bottom: 1px solid $gray-50;
        background-color: $primary;
        color: $white;
        th{
            font-weight: 500;
            text-align: unset;
            padding: .5rem;
            border: 1px solid $gray-10;
        }
    }
    tbody{
        tr{
            td{
                padding: 0.3rem .5rem;
                border: 1px solid $gray-10;
            }
            &:hover{
                background-color: $gray-10;
            }
        }
    }
}