h1{
    font-size: 1rem;
    font-weight: 600;
    @media (min-width: $device-sm) {font-size: 1.3rem;}
    @media (min-width: $device-md) {font-size: 1.6rem;}
    @media (min-width: $device-lg) {font-size: 2rem;}
    @media (min-width: $device-xlg) {font-size: 3rem;}
}
h2{
    font-size: 2.45em;font-weight: 600; 
    @media (min-width: $device-sm) {font-size: 1.2rem;}
    @media (min-width: $device-md) {font-size: 1.3rem;}
    @media (min-width: $device-lg) {font-size: 1.6rem;}
    @media (min-width: $device-xlg) {font-size: 2.5rem;}
}

h3{
    font-size: 1.95em; 
    font-weight: 400;
}
h4{
    font-size: 1.56em; 
    font-weight: 400;
}
h5{
    font-size: 1.25em; 
    font-weight: 300;
}
h6{
    font-size: 1em; 
    font-weight: 300;
}

p, li, blockquote{
    font-weight: 400;
    color: $dark;
    line-height: 1.8;
    @media (min-width: $device-sm) {font-size: 1rem;}
    @media (min-width: $device-md) {font-size: 1.1rem;}
}
.small{
    font-size: 0.8em; 
    line-height: 12.8px;
}